[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-transcript-api = "*"
requests = "*"
ytr2md = {file = ".", editable = true}

[dev-packages]
wheel = "*"
setuptools = "*"
build = "*"
ruff = "*"
chardet = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
